<div class="content col-xs-6 col-xs-offset-3">
  <h1>Weather</h1>
  <div class="frosty">
    <p id='location'><%= location(@response) %></p>
    <p id='conditions'><%= condition(@response) %></p>
    <p id='temperature'><%= temperature(@response) %></p>
    <p id='wind'><%= wind(@response) %></p>
  </div>
  <%= link_to "Back", root_path, class: "btn btn-primary" %>
</div>



